<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Mail</title>
   <style>
      .otp{
         display: inline-flex;
         justify-content: center;
         width: 100%;
      }
      h2{
         background-color: green;
         align-items: center;
         padding: 20px;
         color: white;
         border-radius: 5px;
      }
   </style>
</head>
<body>
   <h1>Hi Aakash,</h1>
   <p>Verify your Email</p>
   <h3 style="text-align: center;">Your OTP</h3>
   <div class="otp"><h2>894256</h2></div>
</body>
</html>